<mat-toolbar color="primary">
  <button mat-icon-button mat-button (click)="sidenav.toggle()" >
    <mat-icon>menu</mat-icon>
  </button>
  <span>DJANGO -- ANGULAR </span> 
  <span class="example-spacer"></span>


  <ng-container *ngIf="loginService.logueado()">
    <button mat-button [matMenuTriggerFor]="menu">
      {{nombre}}
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Perfil</button>
      <button mat-menu-item (click)="loginService.cerraSesion()">Cerrar Sesion</button>
    </mat-menu>
  </ng-container>

  <!-- <button class="account_circle" mat-button >
    {{nombre}}
    <mat-icon>account_circle</mat-icon>
  </button> -->
</mat-toolbar>
